<section id="about" class="about">
  <div class="container">
    <div class="col-sm-12">
      <h2 class="about-title text-center">金町.tokyoとは</h2>
      <div class="about-summary">
        金町.tokyoは、金町住民による金町住民及び移住検討者のための金町の繁栄を支援するウェブ媒体です。
      </div>
    </div>
  </div>
</section>
