<section id="about" class="about">
  <div class="container">
    <div class="col-sm-12">
      <h2 class="about-title text-center">金町.tokyoとは</h2>
      <div class="about-summary">
        金町.tokyoは、金町住民による金町住民及び移住検討者のための金町の繁栄を支援するウェブ媒体です。<br />
        金町やその周辺のお店や施設運営者の方はお気軽にお問い合わせください。
      </div>
      <div class="ability-title">
        金町.tokyoができること
      </div>
      <ul class="list-group">
        <li class="list-group-item">WEBサイト制作</li>
        <li class="list-group-item">Twitterでの宣伝</li>
      </ul>
      </div>
    </div>
  </div>
</section>
