<section id="ramen" class="others">
  <div class="container">
    <div class="col-sm-12">
      <h2 class="others-title text-center">金町の銀行</h2>
      <div class="others-summary">
        東京都葛飾区金町周辺の銀行、郵便局、信用金庫を紹介。随時更新。 
      </div>
      <div class="content-title">
        銀行MAP
      </div>
      <div class="maps">
        <iframe src="https://www.google.com/maps/d/embed?mid=1VA6kCX7s3uUCjAbayscpLq1UD-E&hl=ja" width="100%" height="480"></iframe>
      </div>
    </div>
  </div>
</section>
