<footer class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <p class="copyright mb0">© 2016 金町.tokyo All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
