<section id="header" class="header">
  <nav class="navbar navbar-fixed-top navbar-custom">
    <div class="container">
      <ul class="nav">
        <li><a href="#about">金町.tokyoとは</a></li>
        <li><a href="#pickup">テーマ別特集</a></li>
        <li><a href="#spot">スポット一覧</a></li>
        <li><a href="#contact">お問い合わせ</a></li>
      </ul>
    </div>
  </nav>
</section>
