<section id="header" class="header">
  <nav class="navbar navbar-fixed-top navbar-custom">
    <div class="container">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navi">
          <span class="sr-only">メニュー</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <div id="navi" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="#about" class="navbar-link">金町.tokyoとは</a></li>
          <li><a href="#pickup" class="navbar-link">テーマ別特集</a></li>
          <li><a href="#spot" class="navbar-link">スポット一覧</a></li>
          <li><a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScvt0z_QpvG-pgLrVr8nyeY09GySS5HCVBdM3QOMZ8FgksVKg/viewform" class="navbar-link">お問い合わせ</a></li>
        </ul>
      </div>
    </div>
  </nav>
</section>
