<section id="ramen" class="others">
  <div class="container">
    <div class="col-sm-12">
      <h2 class="others-title text-center">金町に住む</h2>
      <div class="others-summary">
        東京都葛飾区金町周辺の新築、中古物件を紹介。随時更新。 
      </div>
      <div class="content-title">
        新着物件MAP
      </div>
      <div class="maps">
        <iframe src="https://www.google.com/maps/d/embed?mid=1ntG-HRXUO6Ge9z0go_4Mr1tpNms&hl=ja" width="640" height="480"></iframe>
      </div>
      <div class="content-title">
        シティタワー金町
      </div>
      <div class="content">
        <p class="catch">
          公園・大学・住宅・商業が一体化した大規模複合開発。スーパーのいなげや、100円ショップのSeriaが隣接。
        </p>
        <img src="../images/citytower.jpg" class="content-photo img-responsive">
        <table class="table">
          <thead>
            <tr><th><b>物件概要</b></th><th></th></tr>
          </thead>
          <tbody>
            <tr><td>物件名</td><td>シティタワー金町</td></tr>
            <tr><td>アクセス</td><td>JR常磐線金町駅より徒歩12分</td></tr>
            <tr><td>販売価格</td><td>3,690万円～6,990万円</td></tr>
            <tr><td>完成時期</td><td>タワー棟 平成28年2月22日、レジデンス棟 平成27年3月3日</td></tr>
            <tr><td>所在地</td><td>東京都葛飾区　新宿六丁目2400－18（地番）</td></tr>
            <tr><td>総戸数</td><td>840戸（タワー棟 700戸、レジデンス棟 140戸）</td></tr>
            <tr><td>敷地面積</td><td>17,659.92m2</td></tr>
            <tr><td>構造</td><td>鉄筋コンクリート造</td></tr>
            <tr><td>販売会社</td><td>住友不動産株式会社</td></tr>
            <tr><td>設計</td><td>株式会社竹中工務店</td></tr>
            <tr><td>施行</td><td>株式会社竹中工務店</td></tr>
            <tr><td>URL</td><td><a href="http://www.sumitomo-rd-mansion.jp/shuto/kanamachi/" target="_blank">http://www.sumitomo-rd-mansion.jp/shuto/kanamachi/</a></td></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
