<section id="ramen" class="others">
  <div class="container">
    <div class="col-sm-12">
      <h2 class="others-title text-center">金町に住む</h2>
      <div class="others-summary">
        東京都葛飾区金町周辺の新築、中古物件を紹介。随時更新。 
      </div>
      <div class="maps-title">
        新着物件MAP
      </div>
      <div class="maps">
      </div>
    </div>
  </div>
</section>
