        <ul class="nav navbar-nav">
          <li><a href="./" class="navbar-link">HOME</a></li>
          <li><a href="#news" class="navbar-link">新着情報</a></li>
          <li><a href="./about/" class="navbar-link">金町.tokyoとは</a></li>
          <li><a href="#pickup" class="navbar-link">テーマ別特集</a></li>
          <li><a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScvt0z_QpvG-pgLrVr8nyeY09GySS5HCVBdM3QOMZ8FgksVKg/viewform" class="navbar-link">お問い合わせ</a></li>
          <li><a target="_blank" href="https://twitter.com/DrKanamachi" class="navbar-link"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </nav>
</section>
