<section id="ramen" class="others">
  <div class="container">
    <div class="col-sm-12">
      <h2 class="others-title text-center">金町の公園</h2>
      <div class="others-summary">
        東京都葛飾区金町周辺の公園を紹介。随時更新。 
      </div>
      <div class="content-title">
        公園MAP
      </div>
      <div class="maps">
        <iframe src="https://www.google.com/maps/d/embed?mid=1q2m2H4YzJGh-tOmJGZ-AUTrdC5M&hl=ja" width="100%" height="480"></iframe>
      </div>
      <div class="content-title">
        水元公園
      </div>
      <div class="content">
        <p class="catch">
          東京23区中でも最大規模の面積の水郷公園。バーベキューができて飲食店もあってドッグランもあってとにかく広い素敵な公園。
        </p>
        <div class="photos">
          <img src="../images/mizumoto1.jpg" class="content-photo img-responsive">
          <img src="../images/mizumoto2.jpg" class="content-photo img-responsive">
          <img src="../images/mizumoto3.jpg" class="content-photo img-responsive">
        </div>
        <table class="table">
          <thead>
            <tr><th><b>施設概要</b></th><th></th></tr>
          </thead>
          <tbody>
            <tr><td>施設名</td><td>水元公園</td></tr>
            <tr><td>アクセス</td><td>JR常磐線金町駅より徒歩27分</td></tr>
            <tr><td>所在地</td><td><a href="https://goo.gl/maps/Xnb2KZcfjqL2" target="_blank">東京都葛飾区水元公園３</a></td></tr>
            <tr><td>開園時間</td><td>常時</td></tr>
            <tr><td>入園料</td><td>無料</td></tr>
            <tr><td>URL</td><td><a href="https://www.tokyo-park.or.jp/special/bbq/mizumoto/" target="_blank">水元公園手ぶらでバーベキュー</a></td></tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</section>
