<section id="ramen" class="others">
  <div class="container">
    <div class="col-sm-12">
      <h2 class="others-title text-center">金町の公園</h2>
      <div class="others-summary">
        東京都葛飾区金町周辺の公園を紹介。随時更新。 
      </div>
      <div class="content-title">
        公園MAP
      </div>
      <div class="maps">
        <iframe src="https://www.google.com/maps/d/embed?mid=1q2m2H4YzJGh-tOmJGZ-AUTrdC5M&hl=ja" width="640" height="480"></iframe>
      </div>
    </div>
  </div>
</section>
