<section id="pickup" class="pickup">
  <div class="container">
    <div class="col-sm-12">
      <h2 class="h-msg text-center">テーマ別特集</h2>
    </div>
    <div class="col-sm-3">
      <div class="content-box padding-box">
        <a href="./ramen" class="pickup-link">
          <div class="content-box-img">
            <i class="fa fa-cutlery fa-5x" aria-hidden="true"></i>
          </div>
          <div class="content-box-title text-center">
            ラーメン
          </div>
          <div class="content-box-text">
           本当に美味しい金町のラーメン屋 
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="content-box padding-box">
        <a href="./sweets" class="pickup-link">
          <div class="content-box-img">
            <i class="fa fa-birthday-cake fa-5x" aria-hidden="true"></i>
          </div>
          <div class="content-box-title text-center">
            スイーツ
          </div>
          <div class="content-box-text">
            金町のケーキ屋さん、お菓子屋さん
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="content-box padding-box">
        <a href="./homes" class="pickup-link">
          <div class="content-box-img">
            <i class="fa fa-home fa-5x" aria-hidden="true"></i>
          </div>
          <div class="content-box-title text-center">
            買って住む
          </div>
          <div class="content-box-text">
            金町で販売予定の新築/中古物件情報
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="content-box padding-box">
        <a href="./park" class="pickup-link">
          <div class="content-box-img">
            <i class="fa fa-futbol-o fa-5x" aria-hidden="true"></i>
          </div>
          <div class="content-box-title text-center">
            遊ぶ
          </div>
          <div class="content-box-text">
            金町で遊べるオススメの公園
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="content-box padding-box">
        <a href="./bank" class="pickup-link">
          <div class="content-box-img">
            <i class="fa fa-university fa-5x" aria-hidden="true"></i>
          </div>
          <div class="content-box-title text-center">
            お金
          </div>
          <div class="content-box-text">
            金町の銀行・郵便局・信用金庫
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
