<section id="pickup" class="pickup">
  <div class="container">
    <div class="col-sm-6">
      <h2 class="h-msg text-center">テーマ別特集</h2>
      <div class="content-box padding-box">
      </div>
    </div>
  </div>
</section>
