<section id="ramen" class="others">
  <div class="container">
    <div class="col-sm-12">
      <h2 class="others-title text-center">金町で本当に美味しいラーメン</h2>
      <div class="others-summary">
        東京都葛飾区金町周辺の美味しいラーメンを紹介。随時更新。 
      </div>
      <div class="maps-title">
        ラーメンMAP
      </div>
      <div class="maps">
        <iframe src="https://www.google.com/maps/d/embed?mid=1rAWtd15kZomhn6NRMyiGRrCfIw8&hl=ja" width="640" height="480"></iframe>
      </div>
    </div>
  </div>
</section>
