<section id="ramen" class="others">
  <div class="container">
    <div class="col-sm-12">
      <h2 class="others-title text-center">金町のスイーツ</h2>
      <div class="others-summary">
        東京都葛飾区金町周辺のケーキ屋、お菓子屋を紹介。随時更新。 
      </div>
      <div class="content-title">
        スイーツMAP
      </div>
      <div class="maps">
        <iframe src="https://www.google.com/maps/d/embed?mid=1OmiQcKM0w6yYAeHBBxMS-IrfWMY&hl=ja" width="100%" height="480"></iframe>
      </div>
    </div>
  </div>
</section>
