<section id="ramen" class="others">
  <div class="container">
    <div class="col-sm-12">
      <h2 class="others-title text-center">金町のスイーツ</h2>
      <div class="others-summary">
        東京都葛飾区金町周辺のケーキ屋、お菓子屋を紹介。随時更新。 
      </div>
      <div class="content-title">
        スイーツMAP
      </div>
      <div class="maps">
        <iframe src="https://www.google.com/maps/d/embed?mid=1OmiQcKM0w6yYAeHBBxMS-IrfWMY&hl=ja" width="100%" height="480"></iframe>
      </div>
      <div class="content-title">
        ラ・ローズ・ジャポネ(La Rose des Japonais)
      </div>
      <div class="content">
        <p class="catch">
          金町の誇る世界一のケーキ屋。<br />
          シェフはマンダリン オリエンタル 東京のエグゼクティブ ペストリーシェフを務め、WPTC（ワールド・ペストリー・チーム・チャンピオンシップ）に優勝<br />
          食べログでも3.6と高得点で圧倒的大人気。
        </p>
        <div class="photos">
          <img src="../images/japone1.jpg" class="content-photo img-responsive">
          <img src="../images/japone2.jpg" class="content-photo img-responsive">
        </div>
        <table class="table">
          <thead>
            <tr><th><b>店舗概要</b></th><th></th></tr>
          </thead>
          <tbody>
            <tr><td>店舗名</td><td>ラ・ローズ・ジャポネ</td></tr>
            <tr><td>アクセス</td><td>JR常磐線金町駅より徒歩5分</td></tr>
            <tr><td>所在地</td><td><a href="https://goo.gl/maps/SV8tJtVP2CA2" target="_blank">東京都葛飾区金町6-4-5</a></td></tr>
            <tr><td>営業時間</td><td>10：00～19：00</td></tr>
            <tr><td>定休日</td><td>月曜日</td></tr>
            <tr><td>食べログ</td><td><a href="https://tabelog.com/tokyo/A1324/A132403/13138026/" target="_blank">https://tabelog.com/tokyo/A1324/A132403/13138026/</a></td></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
