.header .navbar-custom {
  background-color: #F3C859; }
  .header .navbar-custom .navbar-link {
    color: #fff; }
  .header .navbar-custom .navbar-link:hover {
    color: #767676;
    background-color: #F3C859; }

.home {
  width: 100%;
  height: 700px;
  background-image: url("./images/library.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 0; }
  .home .top-box {
    height: 100%;
    display: table; }
    .home .top-box .top-inside {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      color: #fff;
      text-shadow: black 1px 1px 1px; }
